In [1]:
import pandas as pd

In [9]:
#reading in our Airbnb Data and adding it to our Dataframe
df = pd.read_csv(r'C:\Users\Justin\Documents\GitHub\Web_Scrape\AirDNA_Surrey.csv',encoding='ISO-8859-1')
df.head(3)

,airbnb_property_id,rating,bathrooms,title,occ,bedrooms,accommodates,adr,revenue,reviews,...,property_type,id,room_type,platforms__airbnb_property_id,platforms__homeaway_property_id,listings_returned,area_info__geom__|,area_info__geom__|__country,area_info__geom__|__state,area_info__geom__|__city
0,17736261,9.2,1,"Self Entrance 2 BR, White Rock Beach/US Border...",0.771429,2,6,97.2863,18387.10,102,...,House,6408164,Entire home/apt,17736261,1175014vb,NaN,NaN,NaN,NaN,NaN
1,19552736,9.5,1.5,Comfort of Home,0.578652,2,5,148.0240,15246.40,22,...,Guest suite,6646542,Entire home/apt,19552736,null,NaN,NaN,NaN,NaN,NaN
2,30915066,9.6,1,Brand New Studio with Magnificent Mountains View,0.609756,0,2,46.9888,2349.44,11,...,Guest suite,11809676,Entire home/apt,30915066,null,NaN,NaN,NaN,NaN,NaN

In [11]:
#Checking our file information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 452 entries, 0 to 451
Data columns (total 24 columns):
airbnb_property_id                 452 non-null int64
rating                             452 non-null object
bathrooms                          452 non-null object
title                              452 non-null object
occ                                452 non-null float64
bedrooms                           452 non-null int64
accommodates                       452 non-null int64
adr                                452 non-null float64
revenue                            452 non-null float64
reviews                            452 non-null int64
homeaway_property_id               452 non-null object
longitude                          452 non-null float64
latitude                           452 non-null float64
m_homeaway_property_id             452 non-null object
property_type                      452 non-null object
id                                 452 non-null int64
room_type                          452 non-null object
platforms__airbnb_property_id      452 non-null object
platforms__homeaway_property_id    452 non-null object
listings_returned                  0 non-null float64
area_info__geom__|                 0 non-null float64
area_info__geom__|__country        0 non-null float64
area_info__geom__|__state          0 non-null float64
area_info__geom__|__city           0 non-null float64
dtypes: float64(10), int64(5), object(9)
memory usage: 84.8+ KB

In [13]:
#Seeing how many different bedroom arrangements there are 
df.bedrooms.unique()

array([2, 0, 1, 3, 4, 7, 5, 6, 8], dtype=int64)

In [15]:
#Create a new dataframe containing all of our homes that only have 2 bedrooms
df2 = df.query('bedrooms == 2')
df2. head()

,airbnb_property_id,rating,bathrooms,title,occ,bedrooms,accommodates,adr,revenue,reviews,...,property_type,id,room_type,platforms__airbnb_property_id,platforms__homeaway_property_id,listings_returned,area_info__geom__|,area_info__geom__|__country,area_info__geom__|__state,area_info__geom__|__city
0,17736261,9.2,1,"Self Entrance 2 BR, White Rock Beach/US Border...",0.771429,2,6,97.2863,18387.10,102,...,House,6408164,Entire home/apt,17736261,1175014vb,NaN,NaN,NaN,NaN,NaN
1,19552736,9.5,1.5,Comfort of Home,0.578652,2,5,148.0240,15246.40,22,...,Guest suite,6646542,Entire home/apt,19552736,null,NaN,NaN,NaN,NaN,NaN
5,13158392,9.5,1,"2 BR suite, independent & private",0.655949,2,4,106.7710,21781.20,75,...,Guest suite,3695506,Entire home/apt,13158392,4978731,NaN,NaN,NaN,NaN,NaN
7,29677356,8.9,2.5,Surrey Center Cozy Townhome,0.632653,2,6,137.5900,12795.90,11,...,Apartment,11444978,Entire home/apt,29677356,null,NaN,NaN,NaN,NaN,NaN
8,29156928,10,2,2 br/ba Condo in the heart of beautiful Ocean ...,0.390411,2,4,153.3800,8742.67,1,...,Condominium,11235241,Entire home/apt,29156928,null,NaN,NaN,NaN,NaN,NaN

In [17]:
#Checking the file information
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 0 to 451
Data columns (total 24 columns):
airbnb_property_id                 156 non-null int64
rating                             156 non-null object
bathrooms                          156 non-null object
title                              156 non-null object
occ                                156 non-null float64
bedrooms                           156 non-null int64
accommodates                       156 non-null int64
adr                                156 non-null float64
revenue                            156 non-null float64
reviews                            156 non-null int64
homeaway_property_id               156 non-null object
longitude                          156 non-null float64
latitude                           156 non-null float64
m_homeaway_property_id             156 non-null object
property_type                      156 non-null object
id                                 156 non-null int64
room_type                          156 non-null object
platforms__airbnb_property_id      156 non-null object
platforms__homeaway_property_id    156 non-null object
listings_returned                  0 non-null float64
area_info__geom__|                 0 non-null float64
area_info__geom__|__country        0 non-null float64
area_info__geom__|__state          0 non-null float64
area_info__geom__|__city           0 non-null float64
dtypes: float64(10), int64(5), object(9)
memory usage: 30.5+ KB

In [26]:
#creating a list with our column headers
column_headers = list(df2.columns.values)
#print(column_headers)
#creating a list that contains the columns headers we will be removing
columns_to_remove = column_headers[-4:]
#print(columns_to_remove)
#using pandas built in to remove columns
df2.drop(columns_to_remove, axis=1, inplace=True)
df2.head()

C:\Users\Justin\Anaconda3\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,airbnb_property_id,rating,bathrooms,title,occ,bedrooms,accommodates,adr,revenue,reviews,homeaway_property_id,longitude,latitude,m_homeaway_property_id,property_type,id,room_type,platforms__airbnb_property_id,platforms__homeaway_property_id,listings_returned
0,17736261,9.2,1,"Self Entrance 2 BR, White Rock Beach/US Border...",0.771429,2,6,97.2863,18387.10,102,null,-122.74459,49.00528,1175014vb,House,6408164,Entire home/apt,17736261,1175014vb,NaN
1,19552736,9.5,1.5,Comfort of Home,0.578652,2,5,148.0240,15246.40,22,null,-122.80976,49.13904,null,Guest suite,6646542,Entire home/apt,19552736,null,NaN
5,13158392,9.5,1,"2 BR suite, independent & private",0.655949,2,4,106.7710,21781.20,75,null,-122.69784,49.12981,4978731,Guest suite,3695506,Entire home/apt,13158392,4978731,NaN
7,29677356,8.9,2.5,Surrey Center Cozy Townhome,0.632653,2,6,137.5900,12795.90,11,null,-122.85645,49.18805,null,Apartment,11444978,Entire home/apt,29677356,null,NaN
8,29156928,10,2,2 br/ba Condo in the heart of beautiful Ocean ...,0.390411,2,4,153.3800,8742.67,1,null,-122.86380,49.03204,null,Condominium,11235241,Entire home/apt,29156928,null,NaN

In [52]:
#Checking the file information to find issues with our data
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 0 to 451
Data columns (total 20 columns):
airbnb_property_id                 156 non-null int64
rating                             156 non-null object
bathrooms                          156 non-null object
title                              156 non-null object
occ                                156 non-null float64
bedrooms                           156 non-null int64
accommodates                       156 non-null int64
adr                                156 non-null float64
revenue                            156 non-null float64
reviews                            156 non-null int64
homeaway_property_id               156 non-null object
longitude                          156 non-null float64
latitude                           156 non-null float64
m_homeaway_property_id             156 non-null object
property_type                      156 non-null object
id                                 156 non-null int64
room_type                          156 non-null object
platforms__airbnb_property_id      156 non-null object
platforms__homeaway_property_id    156 non-null object
listings_returned                  0 non-null float64
dtypes: float64(6), int64(5), object(9)
memory usage: 25.6+ KB

It appears as though we will need to switch certain columns from a string to a numeric type.
The following fields will need to be changed: rating and bathrooms

In [59]:
#finding our unique values in the rating
df2.rating.unique()

#replacing all null strings to 0
df2.rating = df2.rating.replace("null", 0)

#checking our work
df2.rating.unique()

#converting column to numeric
df2[["rating"]] = df2[["rating"]].apply(pd.to_numeric)

#checking our unique values once again
df2.rating.unique()

C:\Users\Justin\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
C:\Users\Justin\Anaconda3\lib\site-packages\pandas\core\frame.py:2440: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

array([  9.2,   9.5,   8.9,  10. ,   0. ,   7.3,   9.1,   9. ,   9.3,
         8. ,   9.8,   8.7,   9.9,   9.7,   8.8,   6. ,   8.5,   9.4,
         8.3,   8.2,   9.6,   8.6,   7.7])

In [71]:
#We will now convert all our values in bathroom to a numeric value
#finding our unique values in the rating
unique_bath = df2.bathrooms.unique()
#print(unique_bath)

#converting our values from string
df2[["bathrooms"]] = df2[["bathrooms"]].apply(pd.to_numeric)

#checking our work
unique_bath = df2.bathrooms.unique()
print(unique_bath)

[ 1.   1.5  2.5  2. ]

C:\Users\Justin\Anaconda3\lib\site-packages\pandas\core\frame.py:2440: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

We will further shrink our data set to ensure that we are only keeping columns that will bring us value
We will be removing the following columns, airbnb_property_id, homeaway_property_id, m_homeaway_property_id, id, room_type, platforms__airbnb_property_id, and listings_returned.

In [79]:
#create a list of columns to remove
columns_to_remove=['airbnb_property_id', 'homeaway_property_id', 'm_homeaway_property_id', 'platforms__airbnb_property_id', 'platforms__homeaway_property_id', 'listings_returned','room_type']
columns_to_remove=['id']
#Removing unnecessary columns
df2 = df2.drop(columns_to_remove, axis=1)
df2.head()

,rating,bathrooms,title,occ,bedrooms,accommodates,adr,revenue,reviews,longitude,latitude,property_type
0,9.2,1.0,"Self Entrance 2 BR, White Rock Beach/US Border...",0.771429,2,6,97.2863,18387.10,102,-122.74459,49.00528,House
1,9.5,1.5,Comfort of Home,0.578652,2,5,148.0240,15246.40,22,-122.80976,49.13904,Guest suite
5,9.5,1.0,"2 BR suite, independent & private",0.655949,2,4,106.7710,21781.20,75,-122.69784,49.12981,Guest suite
7,8.9,2.5,Surrey Center Cozy Townhome,0.632653,2,6,137.5900,12795.90,11,-122.85645,49.18805,Apartment
8,10.0,2.0,2 br/ba Condo in the heart of beautiful Ocean ...,0.390411,2,4,153.3800,8742.67,1,-122.86380,49.03204,Condominium

Excellent we are now ready to dive into the data!

In [82]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 0 to 451
Data columns (total 12 columns):
rating           156 non-null float64
bathrooms        156 non-null float64
title            156 non-null object
occ              156 non-null float64
bedrooms         156 non-null int64
accommodates     156 non-null int64
adr              156 non-null float64
revenue          156 non-null float64
reviews          156 non-null int64
longitude        156 non-null float64
latitude         156 non-null float64
property_type    156 non-null object
dtypes: float64(7), int64(3), object(2)
memory usage: 15.8+ KB

In [85]:
#We will be using linear regression to create a model
import statsmodels.api as sm

#I will begin by adding an intercept
df2['intercept'] = 1

In [90]:
#We will be running a linear regression model on our df to find the relevant pieces in determining revenue
lm = sm.OLS(df2['revenue'], df2[['rating', 'reviews', 'bathrooms']])
results = lm.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                revenue   R-squared:                       0.756
Model:                            OLS   Adj. R-squared:                  0.751
Method:                 Least Squares   F-statistic:                     157.9
Date:                Wed, 29 May 2019   Prob (F-statistic):           1.23e-46
Time:                        23:01:15   Log-Likelihood:                -1603.8
No. Observations:                 156   AIC:                             3214.
Df Residuals:                     153   BIC:                             3223.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
rating       573.9855    155.366      3.694      0.000       267.045   880.926
reviews      111.1991     17.112      6.498      0.000        77.393   145.005
bathrooms   3122.7166    969.152      3.222      0.002      1208.070  5037.363
==============================================================================
Omnibus:                       11.757   Durbin-Watson:                   1.917
Prob(Omnibus):                  0.003   Jarque-Bera (JB):               12.403
Skew:                           0.596   Prob(JB):                      0.00203
Kurtosis:                       3.699   Cond. No.                         72.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [ ]:
#create a pivot table to get an overview
#column_headers = list(df2.columns.values)
#pd.pivot_table(df2, index=column_headers)